#workloadContent {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.datePicker {
    margin-right: 5em;
}

.rightColumn{
    text-align: right;
    width: fit-content;
}

.leftColumn{
    text-align: left;
    font-weight: bold;
    width:  fit-content;
    min-width: 14em;
}

.workLoadTable {
    margin-top: 4em;
}